extends layout

block content
  header
    .container
      .intro-text
        .intro-lead-in Welcome!
        .intro-heading 명고파와 함께
        .intro-heading 음식점을 찾아보세요
        a.page-scroll.btn.btn-xl(href="#serch") 검색하기

  section#serch(style='margin: 0 80px')
    .container
      form(id='search-form', action='/search', method='POST')    
          ul.list-inline
            li
             .form.group 
                h4.control-label.label-custom(for='search', style='text-align: left') 식당
                input.serch-form(name='search', id='search', type='text', placeholder='목적지, 위치, 주소')
            li  
              .form.group
                i.fa.fa-spin.fa-spinner
                button.btn.btn-primary.btn-lg(type='submit' form='search-form') 검색
          .form.group
            ul.suggest-box
            
            
            
            
    
    .row(style='margin: 30px')
      .col-lg-12.text-center
        h2.section-heading 추천 식당
    .row
      each rest in rests
        .col-md-4
          .panel.custom_panel
            if rest.filePath
                img.img-responsive(src=rest.filePath alt="사진")
            else
                img.img-responsive(src='http://placehold.it/700x530' alt="사진")
            ul.list-inline(style='margin: 10px')
              li
                h7 #{rest.title}
              li.custom-font= rest.category
              li
                i.fa.fa-thumbs-o-up(aria-hidden='true')  #{rest.meta.favs}
              li
                i.fa.fa-comment-o(aria-hidden='true')  #{rest.reply_count}
              li
                i.fa.fa-eye(aria-hidden='true')  #{rest.meta.views}
              li
                  i.fa.fa-star.text-danger(aria-hidden='true')  #{rest.meta.point}
            ul.list-inline
              li(style='margin: 10px')
                a.card-link(href='/rests/#{rest.id}') 상세보기
    .row(style='text-align: center')
        a.btn.btn-primary.btn-lg(href='/more') 추천 식당 더보기

    link(href='/stylesheets/search-box.css', rel='stylesheet')
    script(src='/javascripts/autocomplete.js')
    script.
      $('.carousel').carousel({
          interval: 1000 //changes the speed
      })


    