include ../../profile_layout
.container
      h1.page-header=rest.title
      
      table.table.table-striped.table-bordered
        thead
          tr
            th 요리 이름
            th 가격
            th 
        tbody
          each menu in menus
            tr
              td= menu.name
              td= menu.price
              td 
                a.btn.btn-xs.btn-default(style='margin: 5px', href="/users/#{menu.id}/menus/edit") 편집
                
                a.btn.btn-xs.btn-default(data-id=menu.id, class='delete') 삭제

      a.btn.btn-primary(style='margin: 5px', href='#', data-toggle='modal', data-target='#menu_add_Modal') 메뉴추가
      #menu_add_Modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title 메뉴 추가
            .modal-body
              form(id='menu_add_form', action='/users/#{rest._id}/menus', method='POST')
                .form-group
                  label.col-sm-2.control-label(for='inputEmail') 메뉴이름
                  .col-sm-10
                  input(
                    type='text', id='menu', name='menu', class='form-control', 
                    placeholder='메뉴 이름', required, autofocus
                  )
                .form-group
                  label.col-sm-2.control-label(for='inputPassword') 가격
                  .col-sm-10
                  input(
                    type='number', id='price', name='price', class='form-control', 
                    placeholder='가격', required, autofocus
                  )
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') 닫기
              button.btn.btn-primary(type='submit' form='menu_add_form') 메뉴 추가

                              
                

    form#deleteForm(style='display:none', method="POST")
            
    script(type='text/javascript').
      $(".delete").click(function(e) {
        var id = $(e.currentTarget).data('id');
        if (confirm('정말 삭제하시겠습니까?')) {
          console.log("success");
          $("#deleteForm").attr('action', "/users/" + id + "/menu?_method=DELETE").submit();          
        }
        return false;
      });