extends ../layout

block content
  .show-page
  .container-fluid
    .row(style='margin: 30px')
      .col-lg-12
        h2.section-heading 추천 식당
    .row
      each rest in rests
        .col-md-4
          .panel.custom_panel
            if rest.filePath
                img.img-responsive(src=rest.filePath alt="사진")
            else
                img.img-responsive(src='http://placehold.it/700x530' alt="사진")
            ul.list-inline(style='margin: 10px')
              li
                h7 #{rest.title}
              li.custom-font= rest.category
              li
                i.fa.fa-thumbs-o-up(aria-hidden='true')  #{rest.meta.favs}
              li
                i.fa.fa-comment-o(aria-hidden='true')  #{rest.reply_count}
              li
                i.fa.fa-eye(aria-hidden='true')  #{rest.meta.views}
              li
                a.card-link(href='/rests/#{rest.id}') 상세보기
                  


    hr
    // Pagination
    .row.text-center
      .col-lg-12
        ul.pagination
          li(class=pagination.firstPage.cls): a(href=pagination.firstPage.url)
            span(aria-hidden="true") &laquo;
          li(class=pagination.prevPage.cls): a(href=pagination.prevPage.url)
            span(aria-hidden="true") &lt;
          each page in pagination.pages
            li(class=page.cls)
              a(href=page.url): span= page.text
          li(class=pagination.nextPage.cls): a(href=pagination.nextPage.url)
            span(aria-hidden="true") &gt;
          li(class=pagination.lastPage.cls): a(href=pagination.lastPage.url)
            span(aria-hidden="true") &raquo;
    // /.row
    hr
  link(href='/stylesheets/search.css', rel='stylesheet')