extends ../layout

block content
    .container
        .col-lg-12
          h1.page-header 
        .thumbnail.panel-info
            if rest.filePath 
                img.img-responsive(src=rest.filePath alt="사진" style="width:700px; height:300px")
            else
                img.img-responsive(src='http://placehold.it/700x300', alt='사진')
                                
            .caption-full
                h3=rest.title
                h4=rest.category         
                      
            .ratings
                p.pull-right=rest.reply_count+"개"     
                p.pull-right 후기 개수        
                p
                    span.glyphicon.glyphicon-star
                                                
                    span.glyphicon.glyphicon-star
                                                
                    span.glyphicon.glyphicon-star
                                                
                    span.glyphicon.glyphicon-star
                                                
                    span.glyphicon.glyphicon-star-empty
                    |별점 평균 
           
        .panel.panel-info
            .panel-body
                div
                    h3 메뉴
                        button#Mebtn.btn.btn-default(type='button', style='float:right;', value='true')
                            span.glyphicon.glyphicon-menu-down(aria-hidden='true')
                    
                    #MENU.hidden
                        ul.list-group
                            //- each menu in menus
                            //-     li.list-group-item.panel-info=menu.menu +" "+menu.price 
            
                    hr.panel-info
                    
                div
                    h3 참고사항
                        button#sidebtn.btn.btn-default(type='button', style='float:right', value='true')
                            span.glyphicon.glyphicon-menu-down(aria-hidden='true')

                    #note.hidden
                        ul.list-group
                            li.list-group-item.panel-info=rest.description
        
        .panel.panel-info
            .panel-body
                .col-lg-6
                    form(action='/rests/post/#{rest.id}', method='POST')
                        span.input-group-btn(style="margin-right : 10px;padding-right:10px")
                            textarea.form-control(name = "content" placeholder = '댓글 달기' style="margin-right: 30px;")
                                                    
                        span.input-group-btn
                            button.btn.btn-default(type='submit') 입력    
                .pull-right
                    form(action='/rests/#{rest.id}/Favorite' method='POST')
                        button.btn.btn-default.btn.btn-primary(type='submit') Favorite 목록에 추가
        .well
            each post in posts
                .row
                    .col-md-12
                        span.glyphicon.glyphicon-star          
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star  
                        span.glyphicon.glyphicon-star-empty=post.user_name
                        |                             
                        p=post.content
        .col-md-12.col-xs-12
            div#map(style="width:100%;height:350px;")
            script(type='text/javascript').
                var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                    mapOption = {
                        center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                        level: 3 // 지도의 확대 레벨
                    };  

                // 지도를 생성합니다    
                var map = new daum.maps.Map(mapContainer, mapOption); 

                // 주소-좌표 변환 객체를 생성합니다
                var geocoder = new daum.maps.services.Geocoder();

                // 주소로 좌표를 검색합니다
                geocoder.addr2coord('#{rest.address}', function(status, result) {

                    // 정상적으로 검색이 완료됐으면 
                    if (status === daum.maps.services.Status.OK) {

                        var coords = new daum.maps.LatLng(result.addr[0].lat, result.addr[0].lng);

                        // 결과값으로 받은 위치를 마커로 표시합니다
                        var marker = new daum.maps.Marker({
                            map: map,
                            position: coords
                        });

                        // 인포윈도우로 장소에 대한 설명을 표시합니다
                        var infowindow = new daum.maps.InfoWindow({
                            content: '<div style="width:150px;text-align:center;padding:6px 0;">#{rest.title}</div>'
                        });
                        infowindow.open(map, marker);

                        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                        map.setCenter(coords);
                    } 
                });
        hr
    .container
        hr.panel-info
        footer
            .row
                .col-lg-12
                    p 명지대 팀프로젝트
    script(type='text/javascript', src='/javascripts/page.js')