extends ../layout

block content
  .profile-page
  .container
    h1="안녕하세요, "+user.name+"입니다!"
    h4="회원가입 : "+moment(user.createdAt).format('YYYY-MM')   
        
    h3.context 위시 리스트
    table.table.table-striped.table-bordered
        thead
          tr
            th 식당 이름
        tbody
          each favorite in favorites
            tr
              td
                a(href="/rooms/#{favorite.room_id}")=favorite.title
    hr
    h3.context 후기
    each post in posts
        .col-md-4.col-xs-12
            h3
                a(href="/rooms/#{post.room_id}")=post.hostname+"님께"
        .col-md-8.col-xs-12.context
            h3=post.content

  link(href='/stylesheets/profile.css', rel='stylesheet')