include ../profile_layout
.container
    h1.page-header 회원 정보
        
    ul
        li 이름: #{user.name}
        li 이메일: #{user.email}

    hr
    a.btn.btn-default(href='/users/#{user._id}/profile') 프로필 보기
    | 
    a.btn.btn-default(href='/users/#{user._id}/edit') 수정
    | 
    a.btn.btn-default(data-id=user.id, class='delete') 삭제


    form#deleteForm(style='display:none', method="POST")
            
    script(type='text/javascript').
      $(".delete").click(function(e) {
        var id = $(e.currentTarget).data('id');
        if (confirm('정말 삭제하시겠습니까?')) {
          console.log("success");
          $("#deleteForm").attr('action', id + "?_method=DELETE").submit();          
        }
        return false;
      });